anyio>=4.9.0
arxiv>=2.2.0
crewai-tools>=0.47.1
google-adk[eval]>=1.4.2
langchain-community>=0.3.26
pytest>=8.4.1
pytest-asyncio>=1.0.0
pytest-tornasync>=0.6.0.post2
pytest-trio>=0.8.0
pytest-twisted>=1.14.3
python-dotenv>=1.1.0
twisted>=25.5.0
wikipedia>=1.4.0